@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap');
body{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    color: #fff;

}

p{
    font-size: 15px;
}



.wrapper{
    position: relative;
    background: linear-gradient(110.72deg, #081323 0%, #12033E 31.77%, #27146F 60.42%, #3E1573 78.13%, #3D0F6A 100%);
    height: 100%;

}

.wrapper::before{
    content: '';
    top: 0;
    left: 0;
    right: 0;

    position: absolute;
    background: linear-gradient(110.72deg, #081323 0%, #12033E 31.77%, #27146F 60.42%, #3E1573 78.13%, #3D0F6A 100%);
    transform: matrix(1, 0, 0, -1, 0, 0);   
}

.header{
    background-color: #282828;
    width: 100%;
    height: 143px;
}

.header .container{
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 43px;
}

.navbar-menu{
    display: flex;
}

.navbar-menu li{
    margin-left: 84px;
}
.navbar-menu li:first-child{
    margin-left: 0px;
}

.areas-box{
    margin-top: 34px;
}

.areas{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13px;
}


.area{
    padding: 19px 23px;
    width: 240px;
    background-color: #3C3C3C;
    border-radius: 8px;
    margin-left: 8px;
}

.area h3{
    font-size: 24px;
    color: #A0EEFF;

}

.area-info{
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 0.01em;
}

.area:first-child{
    margin: 0;
}




.area-image{
    position: relative;
    margin-top: 30px;
    
}

.area-image img{
    display: block;
    border-radius: 12px;
    object-fit: cover;
    width: 200px;
    height: 100px;
}

.area-image::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.29) 0%, rgba(185, 185, 185, 0.59) 0.01%, rgba(0, 0, 0, 0.75) 100%);
}

footer{
    width: 100%;
    height: 247px;
    background-color: #202020;
}

footer .container{
    height: inherit;
    display: flex;
    font-size: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 43px;
}

h4{
    font-size: 40px;
}

.members{
    display: flex;
    align-items: center;
}

.members-list{
    text-align: center;
    color: #F7FADA;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: -0.055em;
    margin-left: 55px;
}

.social-medias{
    margin-left: 47px;
    display: flex;
    align-items: center;
}

.dev-social-medias{
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: -0.055em;

}


.soc-media{
    margin: 0px;
    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.055em;
    font-weight: 600;
}

.discord-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 53px;
}

.soc-media-icons{
    display: flex;
}

.tg-picture{
    max-width: 28px;
    max-height: 28px;
}

.disc-picture{
    max-width: 35px;
    max-height: 35px;
}

.info-box{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    background-color: #3B3B3B;
    border-radius: 8px;
    margin: 0 auto;
    padding: 41px 21px;
    margin-top: 100px;
    align-items: center;
    
}

.info-txt{
    font-weight: 600;
    font-size: 32px;
    letter-spacing: 0.15em;
    
}

.info-btn{
    display: flex;
    background-color: #DADADA;
    max-width: 320px;
    border: none;
    border-radius: 8px;
    max-width: 316px;
    margin-top: 21px;
    cursor: pointer;
    padding: 0px 57px;
}

.go-to-main{
    color: #000;
    font-weight: 600;
    font-size: 40px;
}

.info-btn:hover{
    background-color: #bdbdbd;
}

.container-landscapes { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
} 
 
.card { 
    max-width: 750px; 
    max-height: 1000px; 
    border-radius: 8px; 
    background-color: #3B3B3B; 
    margin-top: 60px; 
    margin-bottom: 24px; 
    padding: 27px 44px; 
} 
 
.card img { 
    max-height: 300px; 
    width: 100%; 
    border-radius: 8px; 
    background-size: cover; 
}  
 
.ld-title { 
    margin-top: 22px; 
    font-weight: 700; 
    font-size: 32px; 
    line-height: 36px; 
    letter-spacing: -0.055em; 
    color: #A0EEFF; 
} 
 
.ld-text { 
    font-weight: 600; 
    font-size: 22px; 
    line-height: 36px; 
    letter-spacing: -0.005em; 
    color: #FFFFFF; 
    margin-top: 13px; 
}

.footer-n-map{
    margin-top: 150px;
}